[package]
name = "mo2-mode"
version = "0.1.0"
edition = "2024"
license = "GPL-3.0"

[dependencies]

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = true

[lints.rust]
deprecated = "deny"